// variables 
$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-blanco: #ffffff;
$color-pink: #FF8087;
$color-grisligth:#6c757d;
$color-gris:#303438;
$color-danger:#dc3545;

.divLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background: $color-melon;
  border: none;
  border-radius: 5px;
  padding: 1.5rem;
  font-family: 'Mulish', sans-serif;
  }

.containerLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100vh;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/imagenes/img-login-welcome/fondo-body.jpg);
  background-size: 100% 100%;
  background-position: center center;
  overflow: hidden;
  background-size: cover;
}

h2{
  color: $color-marron;
  font-weight: 400;
}
.emailLogin,
.passLogin
{
  border: 1px solid $color-blanco;
  border-radius: 0.5rem;
  width: 15rem;
  height: 2rem;
  background-color:$color-blanco;
  padding: 0.75rem;
  color: $color-gris;
  box-shadow: 3px 3px 3px gray;
}
.buttonLogin{
  display: block;
  border: none;
  border-radius: 0.5rem;
  width: 15rem;
  height: 2rem;
  font-weight: 700;
  mix-blend-mode: darken;
  box-shadow: 3px 3px 3px gray;
  color: $color-melon;
  background-color: $color-marron;
}

.forgetPassword{
  display:block;
  color: $color-marron;
  align-self:end;
  font-size: 0.8rem;
}