<div class="containerGestionUsuarios" *ngIf="rolUser == 'Administrador'" >
  <app-navegador></app-navegador>
  <div class="gestionUsuarios">
    <h2 class="titulo">TRABAJADORES</h2>
    <button onclick="document.getElementById('btnModal').style.display='block'" class="btnNuevoUsuario">
      <h5>Agregar</h5>
      <i class="fa-solid fa-circle-plus"></i>
    </button>
    <!-- Listando usuarios -->
    <div class="listarUsuario">
      <table [class]="'table'">
        <thead>
          <th >Nombres</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>DNI</th>
          <th>Telefono</th>
          <th>Estado</th>
          <th>Rol</th>
          <th>Email</th>
          <th>Opciones</th>
        </thead>
        <tbody >
          <tr *ngFor="let usuario of listarUsuarios">
            <td>{{usuario.nombres}}</td>
            <td>{{usuario.apellidoPaterno}}</td>
            <td>{{usuario.apellidoMaterno}}</td>
            <td>{{usuario.dni}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.estado}}</td>
            <td>{{usuario.rol}}</td>
            <td>{{usuario.correo}}</td>
            <td class="btnOpciones">
              <i class="fa-solid fa-pen-to-square"(click)="editUserBtn(usuario)"></i>
              <i class="fa-solid fa-trash-can" (click)="deleteUser(usuario.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal para la creación de usuarios -->
    <div class="modal" id="btnModal">
      <div class="modal-content">
        <header class="header-container">
          {{ titulo  | uppercase }}
          <span [class]="['btn','display-topright']" (click)="btnClose()">&times;</span>
        </header>
        <div class="modal-contenido">
          <form [formGroup]="form" (ngSubmit)="saveOrEditUser()" >
            <div class="column">
              <div [class]="['column1']">
                <label for="">Nombres</label>
                <input [class.valido]="this.form.get('nombres')?.valid" [class.invalido]="this.form.get('nombres')?.invalid && this.form.get('nombres')?.touched" type="text" formControlName="nombres" placeholder="Pedro Julian"> 
                <p>
                  <span class="error" *ngIf="this.form.get('nombres')?.errors?.['required']">El campo es requerido</span>
                  <span class="error" *ngIf="this.form.get('nombres')?.errors?.['minlength']"> Debe tener como mínimo 3 caracteres.</span>
                </p>
                
                <label for="">Apellido Paterno</label>
                <input [class.valido]="this.form.get('apellidoPaterno')?.valid" [class.invalido]="this.form.get('apellidoPaterno')?.invalid && this.form.get('apellidoPaterno')?.touched" type="text" formControlName="apellidoPaterno" placeholder="Flores">
                <p>
                  <span class="error" *ngIf="this.form.get('apellidoPaterno')?.errors?.['required']">El campo es requerido.</span>
                  <span class="error" *ngIf="this.form.get('apellidoPaterno')?.errors?.['minlength']"> Debe tener como mínimo 3 caracteres.</span>
                </p>

                <label for="">Apellido Materno</label>
                <input [class.valido]="this.form.get('apellidoMaterno')?.valid" [class.invalido]="this.form.get('apellidoMaterno')?.invalid && this.form.get('apellidoMaterno')?.touched" type="text" formControlName="apellidoMaterno" placeholder="Ricse">
                <p>
                  <span class="error" *ngIf="this.form.get('apellidoMaterno')?.errors?.['required']">El campo es requerido.</span>
                  <span class="error" *ngIf="this.form.get('apellidoMaterno')?.errors?.['minlength']"> Debe tener como mínimo 3 caracteres.</span>
                </p>

                <label for="">DNI</label>
                <input [class.valido]="this.form.get('dni')?.valid" [class.invalido]="this.form.get('dni')?.invalid && this.form.get('dni')?.touched" type="text" formControlName="dni" placeholder="82898766" minlength="8" maxlength="8">
                <p>
                  <span class="error" *ngIf="this.form.get('dni')?.errors?.['required']">El campo es requerido.</span>
                  <span class="error" *ngIf="this.form.get('dni')?.errors?.['pattern']"> Debe ser numérico. </span>
                  <span class="error" *ngIf="this.form.get('dni')?.errors?.['minlength']">Debe tener un minimo de 8 dígitos.</span>
                </p>

                <label for="">Telefono</label>
                <input [class.valido]="this.form.get('telefono')?.valid" [class.invalido]="this.form.get('telefono')?.invalid && this.form.get('telefono')?.touched" type="tel" formControlName="telefono" placeholder="994427826" minlength="9" maxlength="9">
                <p>
                  <span class="error" *ngIf="this.form.get('telefono')?.errors?.['required']">El campo es requerido.</span>
                  <span class="error" *ngIf="this.form.get('telefono')?.errors?.['minlength']">Debe tener un minimo de 9 digitos.</span>
                </p>

              </div>

              <div [class]="['column2']">
                <label [class.valido-estado]="this.form.get('estado')?.valid" [class.invalido-estado]="this.form.get('estado')?.invalid && this.form.get('estado')?.touched">Estado</label>
                <div class="estado" >
                  <label><input  type="radio" name="estado" value="Activo" formControlName="estado">
                  Activo</label>
                  <label><input type="radio" name="estado" value="Inactivo" formControlName="estado">
                    Inactivo</label>
                  <p>
                    <span class="error" *ngIf="this.form.get('estado')?.errors?.['required']">El campo es requerido.</span>
                  </p>
                </div>

                <Label for="">Rol</Label>
                <div [class]="['rol']">
                  <label><input [class.valido]="this.form.get('rol')?.valid" [class.invalido]="this.form.get('rol')?.invalid && this.form.get('rol')?.touched" type="radio" name="rol" formControlName="rol" value="Administrador">
                  Administrador</label>
                  <label><input [class.valido]="this.form.get('rol')?.valid" [class.invalido]="this.form.get('rol')?.invalid && this.form.get('rol')?.touched" type="radio" name="rol" formControlName="rol" value="Cocinero">
                  Cocinero</label>   
                  <label><input [class.valido]="this.form.get('rol')?.valid" [class.invalido]="this.form.get('rol')?.invalid && this.form.get('rol')?.touched" type="radio" name="rol" formControlName="rol" value="Mesero">
                  Mesero</label> 
                  <p>
                    <span class="error" *ngIf="this.form.get('rol')?.errors?.['required']">El campo es requerido.</span>
                  </p>
                </div>

                <label for="">Email</label>
                <input [class.valido]="this.form.get('correo')?.valid" [class.invalido]="this.form.get('correo')?.invalid && this.form.get('correo')?.touched" type="email" id="" formControlName="correo" placeholder="paquita@gmail.com">
                <p>
                  <span class="error" *ngIf="this.form.get('correo')?.errors?.['required']">El campo es requerido.</span>
                  <span class="error" *ngIf="this.form.get('correo')?.errors?.['email']">El email no es válido.</span>
                </p>

              <label>Password</label>
              <div class="eye">
                <span class='iconEye' (click)="seePassword()"><i class="fas fa-eye-slash"></i></span>
                <input [class.valido]="this.form.get('password')?.valid" [class.invalido]="this.form.get('password')?.invalid && this.form.get('password')?.touched" type="password" id="passLogin" formControlName="password" placeholder=" betinaB06$">
              </div>
              <p>
                <span class="error" *ngIf="this.form.get('password')?.errors?.['required']">El campo es requerido.</span>
                <span class="error" *ngIf="this.form.get('password')?.errors?.['minlength']">Debe contener mínimo 6 caracteres</span>
              </p>
              <button type="submit" [disabled]="form.invalid" [class]="['btnCreate']"> <i class="fas fa-database"></i> &nbsp;Aceptar</button>
            </div>
          </div>        
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
