@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');

$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-blanco: #ffffff;
$color-danger:#dc3545;
$color-edit:#ffc107;
$color-gris-ligth:#DDD;

.containerGestionUsuarios{
  display: flex;
  justify-content: space-around;
}
.gestionUsuarios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
  width: 90%;
}
.titulo{
  color: black;
  margin: 2rem 0 1rem 1rem;
  align-self: flex-start;
  border-bottom: 5px solid $color-melon;
  padding: 5px;
}
.btnNuevoUsuario{
  align-self: flex-start;
  display: flex;
  margin: 0 1rem;
  display: inline-flex;
  margin: 0 1rem;
  background-color: $color-marron;
  color: $color-blanco;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
.fa-circle-plus{
  margin: 0 0.5rem;
}
.listarUsuario{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.modal-contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.column{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0.5rem;
}
.rol,.estado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-marron;
}

.rol>label,.estado>label{
  padding: 0 0.5rem 0 0;
  font-size: 0.8rem;
}
.column1,.column2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  p{
    margin-bottom: 0.5rem;
  }
  
}

.column1>label, .column2>label{
  color: $color-marron;
  font-size: 0.8rem;
  font-weight: 600;
}
input{
  border: 1px solid $color-melon;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0;
  
}
.btnCreate{
  display: block;
  text-align: center;
  background-color: $color-marron;
  color: $color-blanco;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  mix-blend-mode: darken;
  box-shadow: 3px 3px 3px gray;
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

// modal
.modal{
  font-family: 'Mulish', sans-serif;
  z-index:3;
  display:none;
  padding-top: 1rem;;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4)
}
.modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  outline:0;
  width:33rem;
}
.header-container, .contenido{
  padding:1rem;
  color:$color-marron;
  background-color: $color-melon;
  font-weight: 600;
}
.btn{
  border:none;
  display:inline-block;
  padding:1rem;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color: $color-marron;
}
.btn:hover{
  color: #000;
  background-color:#ccc;
}
.display-topright{
  position:absolute;
  right:0;
  top:0;
}

// estilos de la tabla
.table {
  align-self: start;
  border-collapse: collapse;
  border: 1px solid $color-gris-ligth;
  font-family: 'Mulish', sans-serif;
  font-size:11px;
  width: 50%;
}
thead{
  border:1px solid $color-gris-ligth;
  font-weight: 700;
  background-color: $color-melon;
}
th{
  padding: 1rem;
  color: black;
}
td {
  padding: 0.4rem;
  text-align: center;
  border-bottom: 1px solid $color-gris-ligth;
}
tr:hover {
  background-color: #eee;
}

.btnOpciones>i{
  margin-left: 0.5rem;
  cursor: pointer;
}
.fa-pen-to-square{
  border:1px solid $color-edit;
  border-radius: 100%;
  color:$color-edit;
  padding: 6px;

}
.fa-trash-can{
  border:1px solid $color-danger;
  border-radius: 100%;
  color: $color-danger;
  padding: 6px;
}
.fa-pen-to-square:hover{
  background-color: $color-edit;
  color: $color-blanco;
}
.fa-trash-can:hover{
  background-color: $color-danger;
  color: $color-blanco;
}
// estilos de validaciones
.valido{
  border: 2px solid teal;
}
.invalido{
  border: 2px solid $color-danger;
}
.valido-estado{
  color: teal;
}
.invalido-estado{
  color: $color-danger;
}

.error {
  color:$color-danger;
  font-size:12px;
}

.eye{
  display: flex;
  align-items:center;
  position: relative;
  justify-content: center;
}
.iconEye{
  color: $color-marron;
  position: absolute;
  right: 5px;
  margin: 5px;
  cursor: pointer;
  margin-top: 8px;
}
@media only screen and (min-width: 700px) {
  .table{
    width:80%;
    font-size:12px;
  }
}