<div class="gestionUsuarios">
  <h2 class="titulo">TRABAJADORES</h2>
  <button onclick="document.getElementById('btnModal').style.display='block'" class="btnNuevoUsuario">
    <h4>Agregar</h4>
    <i class="fa-solid fa-circle-plus"></i>
  </button>
  
  <div class="listarUsuario">
    <table [class]="'table'">
      <thead>
        <th>Nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>DNI</th>
        <th>Telefono</th>
        <th>Estado</th>
        <th>Rol</th>
        <th>Email</th>
        <th>Opciones</th>
      </thead>
      <tbody >
        <tr *ngFor="let usuario of listarUsuarios">
          <td>{{usuario.nombres}}</td>
          <td>{{usuario.apellidoPaterno}}</td>
          <td>{{usuario.apellidoMaterno}}</td>
          <td>{{usuario.dni}}</td>
          <td>{{usuario.telefono}}</td>
          <td>{{usuario.estado}}</td>
          <td>{{usuario.rol}}</td>
          <td>{{usuario.correo}}</td>
          <td class="btnOpciones">
            <i class="fa-solid fa-pen-to-square"(click)="editarUsuarioBtn(usuario)"></i>
            <i class="fa-solid fa-trash-can" (click)="eliminarUsuario(usuario.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="modal" id="btnModal">
    <div class="modal-content">
      <header class="header-container">
        {{ titulo  | uppercase }}
        <span [class]="['btn','display-topright']" (click)="btnCerrar()">&times;</span>
      </header>
      <div class="modal-contenido">
        <form [formGroup]="form" (ngSubmit)="guardarUsuario()" >
          <div class="column">
            <div [class]="['column1']">
              <label for="">Nombres</label>
              <input type="text" name="" formControlName="nombres" placeholder="Pedro Julian"> 
              <label for="">Apellido Paterno</label>
              <input type="text" formControlName="apellidoPaterno" placeholder="Flores">
              <label for="">Apellido Materno</label>
              <input type="text" formControlName="apellidoMaterno" placeholder="Ricse">
              <label for="">Documento Nacional de Identidad</label>
              <input type="number" formControlName="dni" placeholder="82898766" maxlength="8">
              <label for="">Telefono</label>
              <input type="number" formControlName="telefono" placeholder="994427826" maxlength="9">
            </div>
            <div [class]="['column2']">
              <label for="">Estado</label>
              <div class="estado">
                <label><input type="radio" name="estado" value="Activo" formControlName="estado">Activo</label>
                <label><input type="radio" name="estado" value="Inactivo" formControlName="estado">Inactivo</label>
              </div>
              <Label for="">Rol</Label>
              <div [class]="['rol']">
                <label><input type="radio" name="rol" formControlName="rol" value="Administrador">
                Administrador</label>
                <label><input type="radio" name="rol" formControlName="rol" value="Cocinero">
                Cocinero</label>   
                <label><input type="radio" name="rol" formControlName="rol" value="Mesero">
                Mesero</label> 
              </div>
              <label for="">Email</label>
              <input type="email" id="" formControlName="correo" placeholder="paquita@gmail.com">
              <label for="">Password</label>
              <input type="password" id="" formControlName="password" placeholder=" betinaB06$">
              <button type="submit" [class]="['btnCreate']"> <i class="fas fa-database"></i> &nbsp;Aceptar</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
