<section>
  <h2>Creación de usuarios</h2>
  <button onclick="document.getElementById('btnModal').style.display='block'" >Nuevo usuario</button>
</section>

<div class="modal" id="btnModal">
  <div class="modal-content">
    <header class="header-container">Crear usuario
      <span onclick="document.getElementById('btnModal').style.display='none'" 
      [class]="['btn','display-topright']">&times;</span>
    </header>
    <form [formGroup]="form" (ngSubmit)="crearUsuario()" [class]="['formRegisterUser']">
      <div class="modal-contenido">
        <div class="column">
          <div [class]="['column1']">
            <label for="">Nombres</label>
            <input type="text" name="" formControlName="nombres" placeholder="Pedro Julian"> 
            <label for="">Apellido Paterno</label>
            <input type="text" formControlName="apellidoPaterno" placeholder="Flores">
            <label for="">Apellido Materno</label>
            <input type="text" formControlName="apellidoMaterno" placeholder="Ricse">
            <label for="">Telefono</label>
            <input type="text" formControlName="telefono" placeholder="994427826">
          </div>
          <div [class]="['column2']">
            <Label for="">Rol</Label>
            <div [class]="['rol']">
              <label><input type="radio" name="rol" formControlName="rol" value="Administrador">
              Administrador</label>
              <label><input type="radio" name="rol" formControlName="rol" value="Cocinero">
              Cocinero</label>   
              <label><input type="radio" name="rol" formControlName="rol" value="Mesero">
              Mesero</label> 
            </div>
            <label for="">Email</label>
            <input type="email" id="" formControlName="correo" placeholder="paquita@gmail.com">
            <label for="">Password</label>
            <input type="password" id="" formControlName="password" placeholder=" betinaB06$">
            <div [class]="'btnCreateUser'" >
              <button type="submit" [class]="['btnModal' ,'btnCreate']">Crear</button>
              <button type="button" [class]="['btnModal', 'btnClose']">Cancelar</button>
            </div>
          </div>
        </div>  
      </div>
    </form>
  </div>
</div>

<table [class]="'table'">
  <thead>
    <th>Nombres</th>
    <th>Apellido Paterno</th>
    <th>Apellido Materno</th>
    <th>Telefono</th>
    <th>Rol</th>
    <th>Correo</th>
    <th>password</th>
    <th>Opciones</th>
  </thead>
  <tbody >
    <tr *ngFor="let usuario of listarUsuarios">
      <td>{{usuario.nombres}}</td>
      <td>{{usuario.apellidoPaterno}}</td>
      <td>{{usuario.apellidoMaterno}}</td>
      <td>{{usuario.telefono}}</td>
      <td>{{usuario.rol}}</td>
      <td>{{usuario.correo}}</td>
      <td>{{usuario.password}}</td>
      <td>
        <span><i class="fa-solid fa-pen-to-square"></i></span>
      </td>

    </tr>
  </tbody>
</table>
<i class="fa-solid fa-trash-can"></i>
<i class="fa-regular fa-circle-plus"></i>
<i class="fa-solid fa-circle-plus"></i>
<i class="fa-solid fa-user-plus"></i>
<i class="fa-regular fa-user-plus"></i>