$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-blanco: #ffffff;
$color-pink: #FF8087;
$color-primary:#007bff;
$color-grisligth:#6c757d;
$color-gris:#303438;
$color-danger:#dc3545;

.formRegisterUser{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin:auto;
  padding: 0.5rem;
  
}
.column{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin:auto;
  padding: 1rem;
}
.rol{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputRol>label{
  padding: 0 0.5rem;
  font-size: 0.8rem;
}
.column1,.column2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  
}
.column1>label, .column2>label{
  color: teal;
  font-size: 0.8rem;
  font-weight: 600;
}
input[type='text'],input[type='email'], input[type='password']{
  border: 1px solid $color-melon;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.btnCreateUser{
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.btnModal{
  display: inline-block;
  color: $color-melon;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: 700;
  mix-blend-mode: darken;
  box-shadow: 3px 3px 3px gray;
  
}
.btnCreate{
  background-color: $color-primary;
}
.btnClose{
  background-color: $color-danger;
}


// modal
.modal{
  font-family: 'Mulish', sans-serif;
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4)
}
.modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  outline:0;
  width:30rem;
}
.header-container, .contenido, .footer-container{
  padding:1rem;
  color:$color-blanco;
  background-color: teal;
  font-weight: 700;
}
.btn{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color: $color-blanco;
}
.btn:hover{
  color: #000;
  background-color:#ccc;
}
.display-topright{
  position:absolute;
  right:0;
  top:0;
}