<div id="cartaOpcionesView">

  <app-navegador></app-navegador>

  <main>
    <div class="containerOptionsLetter">

      <div class="subtitle">
        <h2>OPCIONES</h2>
        <hr>
      </div>

      <section class="containerOptions">
        <div class="hamburgerTitle">
          <pre>{{ titleHamburger }}</pre>
          <pre [hidden]="typeSelectValue == 'Ninguno'"> de tipo {{typeName}}</pre>
          <pre [hidden]="aditionalSelectValue == 'Ninguno'"> con {{aditionalName}}</pre>    
        </div>
        <div class="divOptions">

          <img src="{{ imgHamburger }}" alt="Hamburguesa" class="imgHamburger">

          <div class="selects">
            <div>
              <p>Tipo</p>
              <select [(ngModel)]="typeSelectValue" (change)="getTypeSelectValue()" name="type" class="type">
                <option value="Ninguno">Ninguno</option>
                <option *ngFor="let type of typeHamburger"> {{ type }}</option>
              </select>
            </div>

            <div>
              <p>Adicional</p>
              <select [(ngModel)]="aditionalSelectValue" (change)="getAditionalSelectValue(calculateSubtotal)" name="additional" class="additional">
                <option value="Ninguno">Ninguno</option>
                <option *ngFor="let aditional of aditionalHamburger">{{ aditional }}</option>
              </select>
            </div>
          </div>

        </div>
      </section>

      <section class="containerSubTotal">
        <div>
          <p>Subtotal</p>
          <p class="subtotal">{{ priceHamburger }}</p>
        </div>
        <input type="submit" class="buttonAddOptions" id="buttonAddOptions" value="Añadir" routerLink="/pedidosMesero"
          routerLinkActive="activebutton">
      </section>
    </div>

    <div class="btnIcon">
      <i class="fa-solid fa-circle-xmark" (click)="close()"></i>
    </div>

  </main>

</div>