@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');
$color-melon: #f1d5bb;
$color-marron: #3B2213;

#cartaOpcionesView{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  main{
    display: flex;
    flex-direction: row;
  }
}

.btnIcon{
  color: $color-marron;
  font-size: 2em;
  margin: 0.4em;

  i{
      position: relative;
      top: 18px;
  }
}

.containerOptionsLetter{
  display: flex;
  flex-direction: column;
  margin: 5vh 0vh;
  width: 78vw;
  font-family: 'Tajawal', sans-serif;
  // font-family: 'Mulish', sans-serif;
}

/*---------------------*/

/*SUBTITLE*/
.subtitle{
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 2px 5px 2px;

  h2 {
    font-family: 'Tajawal', sans-serif;
    font-size: 24px;
    font-weight: 100;
  }
  hr{
    width: 160px;
    margin: 2px;
    height: 4px;
    background-color: $color-melon;
    border-style: none;
  }
}

/*---------------------*/

/*OPTIONS SECTION*/
.containerOptions{
  padding: 1rem;
  border: 2px solid $color-melon;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
  width: 92%;
  height: 66%;

  .hamburgerTitle{
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;

    pre{
      font-size: 18px;
      font-family: 'Tajawal', sans-serif;
      // padding: 5px;
      // font-weight: bold;
    }
  }
}

.divOptions{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;

  .imgHamburger{
    width: 186px;
    height: 186px;
    margin: 0.5em;
  }
}


.selects{
  display: flex;
    flex-direction: column;
    padding: 10px;
    width: 17.5em;
    height: 70%;
    justify-content: space-evenly;
    align-self: center;

  p{
    font-size: 16px;
    // font-weight: bold;
    padding: 5px;
    font-family: 'Tajawal', sans-serif;
  }

  div{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  select{
    font-family: 'Tajawal', sans-serif;
    border-radius: 5px;
    border-color: $color-melon;
    height: 35px;
    width: 142px;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    background-color: white;
  }
}

/*---------------------*/

/*SUBTOTAL SECTION*/

.containerSubTotal{
  background-color: #F1D5BB;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 12px auto;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;

  div{
    display: flex;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    // font-weight: bold;
    width: 11.5em;
    justify-content: space-between;
    padding: 0em 1em;
  }

  .buttonAddOptions{
    border-style: none;
    background-color: #3C2213;
    color: whitesmoke;
    width: 10.5em;
    height: 40px;
    padding: 1em 0em;
    margin-right: 1em;
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  #cartaOpcionesView{
    display: flex;
    flex-direction: column-reverse;

    main{
      width: 98vw;
      height: 90vh;
      overflow-y: scroll;
      overflow-x: hidden;
      z-index: 1;
    }
  }

  .hamburgerTitle{
    align-self: center;
  }

  .btnIcon{
    margin: 0.3em;
    font-size: 2em;

    i{
        position: fixed !important;
        top: 20px;
        right: 15px;
    }
  }

  .containerOptionsLetter{
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    height: auto;
  } 

  .containerOptions{
    justify-content: center;
    height: auto;
  }
  .divOptions{
    flex-direction: column;

    .imgHamburger{
      margin-left: auto;
      margin-right: auto;
    }
  }

  .selects{
    width: 104%;

    div{
      margin-bottom: 0.5em;
    }
    select{
      width: 116px;
    }
  }

  .containerSubTotal{
    width: 100%;
  }
}  