<div id="pedidosMeseroView">

  <app-navegador></app-navegador>

  <main>

    <div class="containerPedido">

      <div class="subtitle">
        <h2>PEDIDOS</h2>
        <hr>
      </div>

      <table class="listaPedidos">
        <tr *ngFor="let pedido of pedidosMesero">
          <td><button key=index; (click)="orderDelete(pedido)">x</button></td>
          <td><img src="{{pedido.img}}"></td>
          <td>
            <div class="p">
              <p>{{ pedido.name }}</p>
              <P>{{'S/.' + pedido.price}}</P>
            </div>
          </td>
          <td class="divBtn">
            <button>-</button>
            <input type="number">
            <button>+</button>
          </td>
        </tr>
      </table>

      <!--
        <div class="listaPedidos">
        <button>x</button>
        <img src="../../../assets/imagenes/img-carta/{{img}}">
        <div class="p">
          <p>{{title}}</p>
          <P>{{'S/.' + priceHamburger}}</P>
        </div>
        <button (click)="restar()">-</button>
        <input type="number">
        <button (click)="sumar()">+</button>
        </div>
      -->
    </div>

   <app-datos-pedido></app-datos-pedido>

  </main>

</div>