@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');
$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-rosa: #FF8087;

#pedidosMeseroView{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  main{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
}

.containerPedido{
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
  width: 51vw;
  margin: 5vh 0vh;
  align-self: flex-start;
}

/*---------------------*/

/*SUBTITLE*/

.subtitle{
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 2px 5px 2px;

  h2 {
    font-family: 'Tajawal', sans-serif;
    font-size: 24px;
    font-weight: 100;
  }
  hr{
    width: 105px;
    margin: 2px;
    height: 4px;
    background-color: $color-melon;
    border-style: none;
  }
}

/*---------------------*/

/*ORDER LIST TABLE*/

.pedidos{
  color: black;
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  margin-left: 19%;
  font-size: 35px;
  border-bottom: 5px solid $color-melon;
  padding-bottom: 5px;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  font-size: 25px;
  margin: 0.2rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
  -moz-appearance:textfield;
  width: 2rem;
  height: 1.5rem;
  border: none;
  text-align: center;
}
.listaPedidos{
  flex-direction: column;
  display: flex;
  background-color: #f1d5bb;
  margin: 1em 0;
  row-gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 74vh;
}

tr{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 97%;
  padding: 4px;

  td{
    h4{
      text-align: center;
    }
  }
}

img{
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 100%
}
p{
  font-size: 15px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 11rem;
}