<div id="pedidosMeseroView">

  <app-navegador></app-navegador>

  <main>

    <div class="containerPedido">

      <div class="subtitle">
        <h2>PEDIDOS</h2>
        <hr>
      </div>

      <table class="listaPedidos">
        <tr *ngFor="let pedido of pedidosMesero">
          <td><button key=index; (click)="orderDelete(pedido)">x</button></td>
          <td><img src="{{pedido.img}}"></td>
          <td>
            <div class="p">
              <p>{{ pedido.name }}</p>
              <P>{{pedido.price | currency:'PEN':'S/'}}</P>
            </div>
          </td>
          <td>
            <button (click)="restar(pedido.price, pedido.quantity)">-</button>
            <input type="number" id="inputSumaYResta" value="1">
            <button  (click)="sumar(pedido.price, pedido.quantity)">+</button>
          </td>
          <td>
            <p *ngIf=" subtotal === 0; else elseBlock"> 
              {{pedido.price | currency:'PEN':'S/'}}
            </p> <ng-template #elseBlock>{{pedido.subtotal | currency:'PEN':'S/'}}</ng-template>
            
          </td>
        </tr>
      </table>

      <!--
        <div class="listaPedidos">
        <button>x</button>
        <img src="../../../assets/imagenes/img-carta/{{img}}">
        <div class="p">
          <p>{{title}}</p>
          <P>{{'S/.' + priceHamburger}}</P>
        </div>
        <button (click)="restar()">-</button>
        <input type="number">
        <button (click)="sumar()">+</button>
        </div>
      -->
    </div>

   <app-datos-pedido></app-datos-pedido>

  </main>

</div>