@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');
$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-blanco: #ffffff;
.containerPedido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
}
.pedidos{
  color: black;
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  margin-left: 19%;
  font-size: 35px;
  border-bottom: 5px solid $color-melon;
  padding-bottom: 5px;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  font-size: 25px;
  margin: 0.5rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
  -moz-appearance:textfield;
  width: 1.5rem; 
  border: 1px solid black;
}
.listaPedidos{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-melon;
  align-self: flex-start;
  margin-left: 19%;
}
img{
  width: 50px;
  height: 50px;
  margin: 10px 10px;
}
.p{
  font-size: 15px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}