<div class="navbar">
    <img src="../../../assets/imagenes/img-carta/logo2.svg">
    <i class="fa-solid fa-user-large" *ngIf="(rolUser == 'Administrador')" (click)="usuariosRout()"></i>
    <i class="fa-solid fa-utensils" *ngIf="(rolUser == 'Mesero' || rolUser == 'Administrador')" (click)="cartaRout()"></i>
    <i class="fa-solid fa-receipt" (click)="pedidoRout()"></i>
    <i class="fa-solid fa-list-check" (click)="totalPedidosRout()"></i>
    <i class="fa-solid fa-right-from-bracket" (click)="confirmLogout()"></i>
</div>