<div class="navbar">
    <img src="../../../assets/imagenes/img-carta/logo2.svg">
    <i class="fa-solid fa-user-large" routerLink="/totalPedidosMesero" routerLinkActive="active"
    *ngIf="(rolUser == 'Administrador')"></i>
    <i class="fa-solid fa-utensils" routerLink="/totalPedidosMesero" routerLinkActive="active" 
    *ngIf="(rolUser == 'Mesero' || rolUser == 'Administrador')"></i>
    <i class="fa-solid fa-receipt" routerLink="/totalMesero" routerLinkActive="active"></i>
    <i class="fa-solid fa-clipboard-list" routerLink="" routerLinkActive="active"></i>
    <i class="fa-solid fa-right-from-bracket" routerLink="/welcome" routerLinkActive="active"
    (click)="logout()"></i>
</div>
