<div class="pedidosCocineroView">
  <app-navegador></app-navegador>
  <main>
    <div class="containerPedido">
      <div class="subtitle">
        <h2>PEDIDOS</h2>
        <hr>
      </div>
      <table class="listaPedidos">
        <tr *ngFor="let pedido of pedidosCocinero">
          <td><p class="quantity">{{ pedido.quantity }}</p></td>
          <td><img src="{{pedido.img}}"></td>
          <td>
            <div class="p">
              <p>{{ pedido.name }}</p>
              <P>{{pedido.price | currency:'PEN':'S/'}}</P>
            </div>
          </td>
          <td>
            <div *ngIf="pedido.onePrepared; else noPrepared">
              <span><i class="fa-solid fa-circle-check clockIcon preparado" (click)="changeToPrepared(pedido)"></i></span>
            </div>
            <ng-template #noPrepared>
              <span><i class="fa-solid fa-clock clockIcon no-preparado" (click)="changeToPrepared(pedido)"></i></span>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
   <app-datos-pedido></app-datos-pedido>
  </main>
</div>
