// variables 
  $color-melon: #F1D5BB;
  $color-marron: #3C2213;

<<<<<<< HEAD
  .divLogin{
    background: $color-melon;
    width: 500px;
    h2{
      color: $color-marron;
      }
    .emailLogin,
    .passLogin{
      border: 1px solid #fff;
      border-radius: 1rem;
      padding: 1rem;
      width: 15rem;
      height: 1rem;
      }
    .emailLogin{
      background-image: url();
      }
=======
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .divLogin{
    background: $color-melon;
    border: none !important;
    }
  
  h2{
    color: $color-marron;
    }
  .emailLogin,
  .passLogin{
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
    height: 1rem;
    }
  .emailLogin{
    background-image: url();
>>>>>>> 20c870e27416cb95d7b657c5281b0a3dae4c07bf
    }
      