<form class="datosPedido">

  <div class="datos">

  <div class="fecha">
    <p> {{ date }} - {{ hour }}</p>
  </div>

  <div class="seccionCliente">
    <p>Cliente: </p>
    <input type="text" class="cliente" [formControl]="clientName">
  </div>

  <div class="seccionMesa">
    <p>Mesa: </p>
    <select name="mesa" class="mesa">
      <option value="m1">Mesa 1</option>
      <option value="m2">Mesa 2</option>
      <option value="m3">Mesa 3</option>
      <option value="m4">Mesa 4</option>
      <option value="m5">Mesa 5</option>
      <option value="m6">Mesa 6</option>
      <option value="m7">Mesa 7</option>
      <option value="m8">Mesa 8</option>
      <option value="m9">Mesa 9</option>
      <option value="m10">Mesa 10</option>
      <option value="m11">Mesa 11</option>
      <option value="m12">Mesa 12</option>
    </select>
  </div>

  </div>

  <div class="costoPedido">
    <p>Total</p>
    <p class="precio">S/ 23.00</p>
  </div>

  <button class="btnEnviarOrden" (click)="sendName()">Enviar Orden</button>

</form>