$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-rosa: #FF8087;
// $color-grisligth:#6c757d;
// $color-gris:#303438;

.datosPedido{
  display: flex;
  flex-direction: column;
  width: 33vw;
  margin: 1em;
  // gap: 1rem;
}

.datos{
  border: 1px solid $color-melon;
  justify-content: center;

  .fecha{
    padding: 0.5rem; 
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
  }
  
  .seccionCliente, .seccionMesa{
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: space-between;
  
    p{
      font-family: 'Tajawal', sans-serif;
    }
  }
  
  .cliente, .mesa{
    padding: 0.5rem;
    width: 10rem;
    border: 1px solid $color-melon;
    border-radius: 5px;
  }
}

.costoPedido{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
  margin: 1rem 0;
  background-color: $color-melon;
  
  p{
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
  }

  .precio{
    align-self: center;
  }
}