<form class="datosPedido">

  <div *ngIf="rolUser == 'Cocinero'" class="preparationTime">
    <i class="fa-solid fa-stopwatch"></i>
    <p>{{ preparationTime || completeOrderToShow.preparationTime}}</p>
  </div>

  <div class="datos">

    <div class="fechaYhora">
      <div class="clock" *ngIf="rolUser !== 'Cocinero'; else fixTime">
        <span> {{fecha}}, {{dia}} </span>
        <div class="hours">
          <div class="horas">
            <span class="mishoras">{{hora}}:{{minutos}}:{{segundos}}</span>
            <span class="ampm">{{ampm}}</span>
          </div>
        </div>
      </div>
      <ng-template #fixTime>
        <!--Estos datos se guardan en firestore (para capturar la hora exacta)-->
        <p>{{ completeOrderToShow.inputHour }} - {{ completeOrderToShow.date }}</p>
      </ng-template>
    </div>

    <div class="seccionCliente">
      <p>Cliente: </p>

       <!--crear pedido-->
      <input type="text" class="cliente" *ngIf="rolUser !== 'Cocinero' && !isEditable$" [formControl]="clientName">
      <!--actualizar pedido-->
      <input type="text" class="cliente" *ngIf="rolUser !== 'Cocinero' && isEditable$" [formControl]="clientName" value="{{ completeOrderToEdit.clientName }}">
      <!--preparar pedido-->
      <input type="text" class="cliente" *ngIf="rolUser == 'Cocinero'" value="{{ completeOrderToShow.clientName }}" disabled>
    </div>

    <div class="seccionMesa">
      <p>Mesa: </p>
      <select name="mesa" class="mesa" [(ngModel)]="numberOfTable" (change)="getNumberOfTable()"
        *ngIf="rolUser !== 'Cocinero'; else fixTableNumber">
        <option disabled>Escoge una mesa</option>
        <option value="Mesa 1">Mesa 1</option>
        <option value="Mesa 2">Mesa 2</option>
        <option value="Mesa 3">Mesa 3</option>
        <option value="Mesa 4">Mesa 4</option>
        <option value="Mesa 5">Mesa 5</option>
        <option value="Mesa 6">Mesa 6</option>
        <option value="Mesa 7">Mesa 7</option>
        <option value="Mesa 8">Mesa 8</option>
        <option value="Mesa 9">Mesa 9</option>
        <option value="Mesa 10">Mesa 10</option>
        <option value="Mesa 11">Mesa 11</option>
        <option value="Mesa 12">Mesa 12</option>
      </select>

      <ng-template #fixTableNumber>
        <input type="text" class="cliente" value="{{ completeOrderToShow.tableNumber }}" disabled>
      </ng-template>
    </div>

  </div>

  <div class="costoPedido">
    <p>Total</p>

    <p class="precio" *ngIf="rolUser !== 'Cocinero' && !isEditable$">{{ orderTotal | currency:'PEN':'S/' }}</p>
    <p class="precio" *ngIf="rolUser !== 'Cocinero' && isEditable$">{{ orderTotalToEdit | currency:'PEN':'S/' }}</p>
    <p class="precio" *ngIf="rolUser == 'Cocinero'">{{ completeOrderToShow.total | currency:'PEN':'S/' }}</p>
  </div>

  <button type="button" class="btnEnviarOrden" *ngIf="rolUser !== 'Cocinero' && !isEditable$" (click)="sendClientData()">Enviar Orden</button>
  <button type="button" class="btnEnviarOrden"  *ngIf="rolUser !== 'Cocinero' && isEditable$" (click)="updateEditedOrder()" routerLink="/totalPedidos">Actualizar Orden</button>
  <button class="btnEnviarOrden" *ngIf="rolUser == 'Cocinero'" (click)="markAsPrepared(completeOrderToShow)"[hidden]="completeOrderToShow.preparationTime">Orden Lista</button>

</form>