<div class="carta">
    <div class="subtitle">
        <h2>PLATOS</h2>
        <hr>
    </div>
    <section>
        <div *ngFor="let hamburguesa of carta.hamburguesas">
            <div class="item">
                <div class="nameAndPrice">
                    <h4 class="title"> {{ hamburguesa.title }} </h4>
                    <h3>{{ 'S/.' + hamburguesa.price }} </h3>
                </div>
                <img src="../../../assets/imagenes/img-carta/{{ hamburguesa.img }}">
                <input class="btnOptions" type="button" value="Ver opciones" 
                (click) = "getHamburgerData(hamburguesa)" routerLink="/carta/opciones" routerLinkActive="activebutton">
            </div>
        </div>

        <div *ngFor="let sandwich of carta.sandwiches">
            <div class="item">
                <div class="nameAndPrice">
                    <h4> {{ sandwich.title }} </h4>
                    <h3>{{ 'S/.' + sandwich.price }} </h3>
                </div>
                <img src="../../../assets/imagenes/img-carta/{{ sandwich.img }}">
                <input type="button" value="Añadir">
            </div>
        </div>
    </section>

    <div class="subtitle">
        <h2>APERITIVOS</h2>
        <hr>
    </div>
    <section>
        <div *ngFor="let aperitivo of carta.aperitivos">
            <div class="item">
                <div class="nameAndPrice">
                    <h4> {{ aperitivo.title }} </h4>
                    <h3>{{ 'S/.' + aperitivo.price }} </h3>
                </div>
                <img src="../../../assets/imagenes/img-carta/{{ aperitivo.img }}">
                <input type="button" value="Añadir">
            </div>
        </div>
    </section>

    <div class="subtitle">
        <h2>BEBIDAS</h2>
        <hr>
    </div>
    <section>
        <div *ngFor="let bebida of carta.bebidas">
            <div class="item">
                <div class="nameAndPrice">
                    <h4> {{ bebida.title }} </h4>
                    <h3>{{ 'S/.' + bebida.price }} </h3>
                </div>
                <img src="../../../assets/imagenes/img-carta/{{ bebida.img }}">
                <input type="button" value="Añadir">
            </div>
        </div>
    </section>
</div>