$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-rosa: #FF8087;

#cartaView{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    main{
        display: flex;
        flex-direction: row;
    }
}

.btnIcon{
    color: $color-marron;
    font-size: 2em;
    margin: 0.4em;

    i{
        position: relative;
        top: 18px;
    }
}

.rotate{
    transform: rotate(180deg);
}

.carta{ 
    display: flex;
    flex-direction: column;
    width: 78vw;
    height: 90vh;
    margin: 5vh 0vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;

    #cartaSection2{
        display: none;
    }

    .itemsSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: auto;
    }
}

.show{
    display: block !important;
}
.hidden{
    display: none !important;
}

/*---------------------*/

/*SUBTITLE*/

.subtitle{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 10px 2px 5px 2px;

    h2 {
        font-family: 'Tajawal', sans-serif;
        font-size: 24px;
        font-weight: 100;
    }
    hr{
        width: 160px;
        margin: 2px;
        height: 4px;
        background-color: $color-melon;
        border-style: none;
    }
}

/*---------------------*/

/*DISHES AND DRINKS*/

.item{
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 5px 5px 0px 5px;
}

.nameAndPrice{
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-width: 1.5px;
    border-style: solid;
    border-color: $color-melon;
    margin: 10px 0;
    h3, h4{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
    h4{
        font-size: 12px;
        padding: 4px 4px 0px 4px;
    }
    h3{
        font-size: 18px;
        font-weight: 700;
        color: $color-rosa;
        align-self: flex-end;
        padding: 0px 4px 1px 4px;
    }
}

/*---------------------*/

.picture{
    display: flex;
    width: 100%;
    height: 120px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;

    i{
        display: none;
        position: absolute;
        font-size: 1.3em;
        color: $color-rosa;
        z-index: 2;
        top: 10px;
        right: 10px;
    }
    img{
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

/*---------------------*/

.btn{
    width: 100%;
    height: 40px;
    margin: 10px 0px 15px 0px;
    border-style: none;
    background-color: $color-marron;
    color: whitesmoke;
    font-size: 13px;
}

/*---------------------*/

@media (max-width: 700px) {
    #cartaView{
        display: flex;
        flex-direction: column-reverse;

        main{
            display: flex;
            height: 86vh;
            justify-content: center;
        }
    }
    
    .carta{ 
        width: 76vw;
        height: 80vh;
                
        section{
            width: 95%;
            justify-content: space-evenly !important;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .btnIcon{
        margin: 0.3em;
        font-size: 2em;

        i{
            position: fixed;
            top: 20px;
            right: 15px;
        }
    }

    .item{
        width: 150px;

        .picture{
            height: 150px;
        }
    }
}