<div id="cartaView">

    <app-navegador></app-navegador>
    <main>
        <div class="carta">
            <section id="cartaSection1" [class.hidden]="isSectionchanged">
                <div class="subtitle">
                    <h2>PLATOS</h2>
                    <hr>
                </div>
                <section class="itemsSection">
                    <div *ngFor="let hamburguesa of hamburguesas">
                        <div class="item">
                            <div class="nameAndPrice">
                                <h4 class="name"> {{ hamburguesa.name }} </h4>
                                <p>{{ hamburguesa.price | currency:'PEN':'S/' }} </p>
                            </div>
                            <div class="picture">
                                <img class="cartaImg" src="{{ hamburguesa.img }}">
                            </div>
                            <input type="button" value="Ver opciones" class="btn"
                                (click)="sendHamburgerDataToOptionsView(hamburguesa)" routerLink="/cartaOpciones"
                                routerLinkActive="activebutton">
                        </div>
                    </div>

                    <div *ngFor="let sandwich of sandwichs">
                        <div class="item">
                            <div class="nameAndPrice">
                                <h4> {{ sandwich.name }} </h4>
                                <p>{{ sandwich.price | currency:'PEN':'S/' }} </p>
                            </div>
                            <div class="picture">
                                <i class="checkIcon fa-solid fa-circle-check" id="{{ sandwich.id }}" 
                                [style.display]="wasSelected(sandwich.id)"></i>
                                <img class="cartaImg" src="{{ sandwich.img }}">
                            </div>
                            <input type="button" value="Añadir" class="btn btnAñadir" (click)="sendItemDataToPedidosView(sandwich)" routerLinkActive="activebutton">
                            <!-- <input type="button" value="Añadir" [ngClass]="{}" (click)="sendItemDataToPedidosView(sandwich)" routerLinkActive="activebutton"> -->
                        </div>
                    </div>
                </section>

                <div class="subtitle">
                    <h2>APERITIVOS</h2>
                    <hr>
                </div>
                <section class="itemsSection">
                    <div *ngFor="let aperitivo of aperitivos">
                        <div class="item">
                            <div class="nameAndPrice">
                                <h4> {{ aperitivo.name }} </h4>
                                <p>{{ aperitivo.price | currency:'PEN':'S/' }} </p>
                            </div>
                            <div class="picture">
                                <i class="checkIcon fa-solid fa-circle-check" id="{{ aperitivo.id }}"
                                [style.display]="wasSelected(aperitivo.id)"></i>
                                <img class="cartaImg" src="{{ aperitivo.img }}">
                            </div>
                            <input type="button" value="Añadir" class="btn btnAñadir" (click)="sendItemDataToPedidosView(aperitivo)"
                                routerLinkActive="activebutton">
                        </div>
                    </div>
                </section>
            </section>

            <section id="cartaSection2" [class.show]="isSectionchanged">
                <div class="subtitle">
                    <h2>BEBIDAS</h2>
                    <hr>
                </div>
                <section class="itemsSection">
                    <div *ngFor="let bebida of bebidas">
                        <div class="item">
                            <div class="nameAndPrice">
                                <h4> {{ bebida.name }} </h4>
                                <p>{{ bebida.price | currency:'PEN':'S/' }} </p>
                            </div>
                            <div class="picture">
                                <i class="checkIcon fa-solid fa-circle-check" id="{{ bebida.id }}"
                                [style.display]="wasSelected(bebida.id)"></i>
                                <img class="cartaImg" src="{{ bebida.img }}">
                            </div>
                            <input type="button" value="Añadir" class="btn btnAñadir" (click)="sendItemDataToPedidosView(bebida)"
                                outerLinkActive="activebutton">
                        </div>
                    </div>
                </section>
            </section>
        </div>

        <div class="btnIcon">
            <i class="fa-solid fa-circle-arrow-right" [class.rotate]="isSectionchanged" (click)="changeSectionOfCarta()"></i>
        </div>

    </main>

</div>