$color-melon: #f1d5bb;
$color-marron: #3B2213;
$color-pink: #FF8087;
$color-gris-ligth:#eee;
$color-gris:#303438;
$color-naranja:#FB7614;
$color-green: #31C248;
$color-primary: #64b6e6;

#totalPedidosView{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  main{
    display: flex;
    flex-direction: row;
  }
}

.total-pedidos{
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
  width: 85.9vw;
  margin: 5vh 0vh;
  align-self: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*---------------------*/

/*SUBTITLE*/

.subtitle{
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 2px 5px 2px;

  h2 {
    font-family: 'Tajawal', sans-serif;
    font-size: 24px;
    font-weight: 100;
  }
  hr{
    width: 105px;
    margin: 2px;
    height: 4px;
    background-color: $color-melon;
    border-style: none;
  }
}

/*---------------------*/

/*TABLE*/

.tableContainer{
  margin: 0.6em;
  height: 76vh;
  overflow: hidden;
  overflow-y: scroll;
}

table{
  align-self: flex-start;
  border-collapse: collapse;
  // border: 1px solid $color-gris-ligth;
  font-family: 'Mulish', sans-serif;
  width: 95%;
}

thead{
  border: none;
  background-color: $color-melon;

  th{
    padding: 0.5rem;
    color: $color-marron;
    font-weight: 500;
    text-align: center;
  
    p{
      font-size: 13px;
    }
  }
}

td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid $color-gris-ligth;
  width: auto;
  font-size: 13px;
}

i{
  padding: 3px;
  width: 1rem;
}

/*---------------------*/

/*CIRCLE BTNS*/

.circleBtn{
  width: 28px;
  height: 28px;
  padding: 1px;
}

.ordenado,.no-ordenado{
  border-radius: 100%;
  border: 2px solid $color-naranja;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.ordenado{
  content: "\2713";
  background-color: $color-naranja;
  text-align: center;
  color: white;
  font-weight:500;
}
.no-ordenado{
  content: " ";
  background-color: rgb(250, 250, 250);
  color: white;
}

.preparado, .no-preparado{
  border-radius: 100%;
  border: 2px solid $color-green;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.preparado{
  content: "\2713";
  background-color: $color-green;
  text-align: center;
  color: white;
  font-weight:500;
}
.no-preparado{
  content: " ";
  background-color: white;
  color: white;
}

.entregado{
  content: "\2713";
  border-radius: 100%;
  border: 2px solid $color-primary;
  padding: 5px;
  text-align: center;
  background-color: $color-primary;
  text-align: center;
  color: white;
  font-weight:500;
  cursor: pointer;
}
.no-entregado{
  border-radius: 100%;
  border: 2px solid $color-primary;
  padding: 5px;
  background-color: white;
  text-align: center;
  color: white;
  cursor: pointer;
}

/*---------------------*/

/*OPTIONS BTNS*/

.btnOpciones{
  width: 100%;

  input{
    padding: 0.5rem;
    border-radius:0.5rem;
    width: 6em;
    margin: 0 0.3em;
  }
}

input[value="Ver pedido"]{
  border: none;
  color: white;
  background-color: $color-marron;
}

.cancelado{
  border:1px solid $color-pink;
  cursor: not-allowed;
  background-color: $color-pink;
  pointer-events: none;
  color: white;
}
.no-cancelado{
  background-color: white;
  border:1px solid $color-pink;
  cursor: pointer;
  color: $color-pink;
}

@media (min-width: 900px) {
  .btnOpciones{
    width: auto;
  }
}